@model Web.Models.UserDetailViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="profile-container">
    <h4>Profil Bilgileri</h4>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Kullanıcı Adı</th>
                <td>@Html.DisplayFor(model => model.UserName)</td>
            </tr>
            <tr>
                <th scope="row">E-posta</th>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <th scope="row">Telefon Numarası</th>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="profile-actions">
    <a href="EditProfile" class="btn btn-primary">
        <i class="fas fa-edit"></i> Bilgileri Düzenle
    </a>
    |
    <a href="EditPassword" class="btn btn-danger">
        <i class="fas fa-lock"></i> Şifre Değiştir
    </a>
</div>

