
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_CustomerPanelLayout.cshtml";
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerPanelLayout.cshtml";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <!-- Sidebar end=============================================== -->
            <div class="span9">

                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Başarılı!</strong> Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.
                </div>

            </div>
        </div>
    </div>
</div>


