@model CategoryListViewModel

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top: 20px;">
    <tr>
        <th>ID</th>
        <th>Kategori ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>
    <tr>
            @foreach (var k in Model.Categories)
            {
        <tr>
            <td>@k.CategoryID</td>
            <td>@k.CategoryName</td>
            <td>
                <a class="btn btn-primary btn-sm mr-2" href="/Category/EditCategory/@k.CategoryID">Edit</a>
                <form action="/Category/DeleteCategory" method="post" style="display:inline;">
                    <input type="hidden" name="categoryId" value="@k.CategoryID" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
            }
</table>



<a href="/Category/CreateCategory" class="btn btn-warning"> Kategori Ekle </a>
