@model ProductCategoryModel
<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
    @foreach (var k in Model.CAT.Categories)
    {
        <a href="@Url.Action("ProductList", "CustomerPanel", new { id = @k.CategoryID })" class="nav-item nav-link">@k.CategoryName</a>
    }
</div>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
